# Backup files created by patch scripts
_backups/
*.bak_*
*.navbak*
*.footbak*
*.cleanbak*
*.fixbak*
*.dgbak*
*.sagebak*
*.boldbak*
*.btnbak*
*.btntxtbak*
*.herobtnbak*
*.eyebrowbak*
*.greenbak*
*.cropbak*
*.backup_*

# macOS
.DS_Store
